www/media/admin/
settings_local.py
*.tar
*.tar.gz
*.tar.bz2
*.pyc
*.pyo
debug_settings.py
urls_local.py
secret.txt
.project
.pydevproject
.egg-info/
build/
tmp/
fabfile.py
*.db
*.log
.DS_Store
*~
*.orig
*.rej
.installed.cfg
__minitage__*
bin/*
develop-eggs
downloads
eggs
log
parts
pip-log.txt
src/*

