{% extends "base.html" %}
{% load i18n forms %}

{% block title %}{% trans "Activate Prepaid Card" %}{% endblock %}
{% block body_class %}{{ block.super }} activate_form{% endblock %}

{% block content_title %}<h2>{% trans "Activate Prepaid Card" %}</h2>{% endblock %}

{% block content %}
  <form action="." method="post">
  <table>{% show_form form "td" %}
   <tr>
        <td></td>
        <td><br /><input type="submit" value="{% trans "Activate" %}" /></td>
    </tr>
</table>
  </form>
{% endblock %}